{% extends 'base.html' %}

{% block title %}
<title>Publicaciones</title>
{% endblock title %}

{% block h1 %}
<div class="site-heading">
    <h1>Publicaciones</h1>
</div>
{% endblock h1 %}

{% block container %}

<p>
    <a href={% url 'crear' %} >Crear Publicación</a>
</p>

<p>
    <form action={% url 'publicaciones' %} >
        {{form}}
        <button>Buscar</button>
    </form>
</p>


<p>
    {% if publicaciones %}  
        <ul>
            {% for publicacion in publicaciones %}
            <li>
                {{publicacion}} 
                <a href={% url 'mostrar_publicacion' publicacion.id %}>Mostrar</a>
                <a href={% url 'editar_publicacion' publicacion.id %}>Editar</a>
                <a href={% url 'eliminar_publicacion' publicacion.id %}>Eliminar</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
         No se encontraron datos.
    {% endif %}

</p>

{% endblock container %}
        
        